@font-face {
   font-family: 'Bebas-Regular';
   font-display: swap;
   src: url('file:///C:/Users/twtho/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-12-11_091111/fonts/Bebas-Regular/font.ttf');
}
